[submodule ".config/nvim/bundle/vim-live-latex-preview"]
	path = .config/nvim/bundle_notused/vim-live-latex-preview
	url = https://github.com/ying17zi/vim-live-latex-preview.git
[submodule ".config/nvim/bundle/Colorizer"]
	path = .config/nvim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule ".config/nvim/bundle/goyo.vim"]
	path = .config/nvim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
