*
!.asy/*
!.config/dunst/*
!.config/lf/*
!.config/newsboat/*
!.config/nvim/*
!.config/mutt/*
!.config/qutebrowser/*
!.config/zathura/*
!.config/mimeapps.list
!.scripts/*
!scripts/
!.wallpapers/*
!.bash_profile
!.bashrc
!.dircolors
!.Xmodmap
!.xinitrc
!README.md
!.gitmodules
!.gitignore
