*
!.asy/*
!.config/*
!.config/dunst/*
!.config/lf/*
!.config/kak/*
!.config/newsboat/*
!.config/nvim/*
!.config/mutt/*
!.config/qutebrowser/*
!.config/zathura/*
!.config/mimeapps.list
!.install
!.install/**
!.bin
!.bin/**
!scripts
!scripts/**
!.wallpapers/*
!.bash_profile
!.bashrc
!.dircolors
!.Xmodmap
!.xinitrc
!.gitmodules
!.gitignore
!.latexmkrc
!.msmtprc
!.offlineimaprc
!README.md
