*
!.asy/*
!.config
!.config/*
!.config/alacritty/*
!.config/Code - OSS/*
!.config/dunst/*
!.config/lf
!.config/lf/**
!.config/kak/*
!.config/kak/**
!.config/newsboat/*
!.config/nvim/*
!.config/mutt/*
!.config/ranger/rifle.conf
!.config/sxiv/*
!.config/sxiv/exec/*
!.config/sxhkd/*
!.config/sway/*
!.config/waybar/*
!.config/qutebrowser/*
!.config/zathura/*
!.config/mimeapps.list
!.install
!.install/**
!.bin
!.bin/**
!.screenlayout
!.screenlayout/**
!scripts
!scripts/**
!.wallpapers
!.wallpapers/**
!.bash_profile
!.bashrc
!.bash_bookmarks
!.dircolors
!.Xmodmap
!.xinitrc
!.gitmodules
!.gitignore
!.latexmkrc
!.msmtprc
!.offlineimaprc
!README.md
